* {
  box-sizing: border-box;
}
body {
  --background-color: #151719;
  --gray-bg:#242627;
  --accent-color: #EF5840;
  background-color: var(--background-color);
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  color: var(--accent-color);
  background-color: transparent;
  text-decoration: none;
}

h1 {
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .3rem;
}

input, select, textarea, option {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: .5rem;
  margin:10px 0 15px 0;
  background-color: var(--gray-bg);
}

.error {
  border: 2px solid rgb(228, 44, 44);;
}

textarea {
  resize: vertical;
}
.error-message {
  color: rgb(228, 44, 44);
  font-size: .7rem;
}

button.primary-btn, button.secondary-btn {
  cursor: pointer;
  display: flex;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-family: Inter;
  font-size: .8rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .2rem;
  border: 1px solid var(--accent-color);
  border-radius: .3rem;
  transition: .3s ease-in-out;
}

button.primary-btn {
  background-color: var(--accent-color);
  color: var(--light-text);
}

button.secondary-btn {
  background-color: transparent;
  color: var(--accent-color);
}


button.primary-btn::after{
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  content: "\f061";
  margin-left: 20px;
}

.btn-set {
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.btn-set button {
  margin-right: 20px;
}

.transparency-50 {
  opacity: .5;
}

/* NAVBAR start */
.navBar {
  z-index: 9999;
  position:fixed;
  display: grid;
  grid-template-rows: [row1-start]2fr [row2-start]8fr [row3-start]1fr;
  grid-template-columns: [only]1fr;
  width: 300px;
  top: 0;
  left:0;
  padding: 30px 30px;
  padding-bottom:5px;
  height: 100vh;
  border-radius: 0 20px 20px 0;
  box-shadow: 5px 0 10px #00000090;
  transition: .7s ease-in-out transform;
  background-color: #15171960;
  backdrop-filter: blur(20px);
}
.navBar.hidden{
  transform: translateX(-225px);
}


.navBar.hidden button {
  opacity: 0;
}

.logo {
  grid-row-start: row1-start;
  grid-column-start: only;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#burger-menu{
  cursor: pointer;
}

nav ul {
  height: 50vh;
  list-style: none; 
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
}
nav ul li {
  position: relative;
  margin: 0;
  padding: 0;
  width:100%;
}

nav ul li button{
  position: relative;
  right: 0;
  top: 0;
  cursor: pointer;
  font-size: 1rem;
  background:var(--gray-bg);
  padding: 20px 30px;
  border: none;
  width: 100%;
  border-radius: 10px;
  text-align: left;
  margin-bottom:20px;
  transition: 1s ease-in-out opacity;
  opacity: 1;
}

nav ul li button::before{
  color: var(--accent-color);
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  padding-right: 20px;
}


button#projects::before{
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f0ae";
}
button#dashboard::before{
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f00b";
}
button#create::before{
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f044";
}
button#clients::before{
  font-family: "Font Awesome 5 Free"; font-weight: 400; content: "\f007";
}
button#login::before{
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f090";
}
button#logout::before{
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f08b";
}


.bottom-nav {
  position: absolute;
  bottom: 20px;
  right: 30px;
  grid-row-start: row3-start;
  grid-column-start: only;
  text-align: left;
  transform: rotate(-90deg) translateX(110%);
  transform-origin: 100% 100%;
}

#copyright::after{
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  color: var(--accent-color);
}
/* NAVBAR end */

/* TABLE start */
.overview-container {
  position: relative;
}
.modal-container {
  position: absolute;
  z-index: 999999;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.modal {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px;
  box-shadow: 0 0 40px #00000050;
  border-radius: 20px;
  /* width: 40%; */
}
.modal p {
  margin: 0;
}
.modal-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.table-container {
  padding:10px 20px 20px 20px;
  border-radius: .7rem;
  background:var(--gray-bg) ;
  max-width: 1200px;
}
.table-container.clients {
  width: 500px;
}
table {
  width: 100%;
  border-collapse: collapse;
  padding:0 20px;
  border-radius: 10px;
}

td , th{
  padding:15px 20px;
  text-align: left;
  vertical-align: text-top;
}

th{
  border-bottom: 1px solid var(--accent-color);
  vertical-align: bottom;
}
td:first-child{
  text-transform: uppercase;
}
th:not(.long-text), td:not(.long-text) {
  max-width: 200px;
}
td.long-text, th.long-text {
  width: 250px;
  overflow: hidden;
}
td.long-text div {
  position: relative;
  height: 150px;
  overflow: hidden;
}
td.long-text div .gradient {
  position: absolute;
  background: linear-gradient(180deg, rgba(36,38,39,0) 0%, rgba(36,38,39,1) 100%);
  height: 70px;
  width: 100%;
  bottom: 0;
  right: 0;
  transition: .8s ease-in-out;
}

tbody tr{
  cursor: pointer;
  transition: .5s ease-in-out;
  height: 50px;
  overflow: hidden;
}

tbody tr:hover{
  background-color: #1F2122;
}
tbody tr:hover td.long-text div .gradient{
  background: linear-gradient(180deg, rgba(31,33,34,0) 0%, rgba(31,33,34,1) 100%);
}

/* TABLE end */

/* NEW PROJECT start */
.createProject {
  width: 20vw;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
/* NEW PROJECT end */

/* LOGIN start */

.login {
  width: 20vw;
}

.login form {
  margin-top: 100px;
  width: 100%;
}

.login img {
  margin-top: 150px;
  width: 60%;
}
/* LOGIN end */

/* PROJECTDETAILS start */
.project-details {
  width: 100%;
}

.project-details-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  width: 50vw;
}

.project-details-container .briefing, .project-details-container .details {
  padding: 15px 25px;
  border-radius: 20px;
  text-align: left;
  background-color: var(--gray-bg);
}

.project-details-container h2 {
  padding-bottom: 15px;
  border-bottom: 1px solid var(--accent-color);
}

.project-details-container .detail {
  display: flex;
  justify-content: space-between;
  align-items: center ;
  padding: 0;
  margin-bottom: 30px;
}

.project-details-container textarea {
  font-size: 1rem;
  width: 100%;
  height: 50%;
  resize: vertical;
}

/* .project-details-container .detail h3{
  margin: 0;
} */

.project-details-container .detail p {
  text-align: right;
}
/* PROJECTDETAILS end */